beautifulsoup4==4.10.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
idna==3.3
mutagen==1.45.1
Pillow==9.0.1
pycryptodomex==3.14.1
pymongo==4.0.1
PyMuPDF==1.19.4
requests==2.27.1
soupsieve==2.3.1
tqdm==4.62.3
urllib3==1.26.8
websockets==10.2
yt-dlp==2022.4.8
